#type_t{
	display: none;
}
.peotx{
	width:60px;
	height: auto;
}
.peotx1{
	display: block;
	width:60px;
	height: 60px;
	overflow: hidden;
	border-radius: 50%;
	background: #aaa;
	float: left;
}
#user_text{
	height: 60px;
	margin-left: 10px;
	display: block;
	float: left;
	text-align: center;
}

#img {
	width: 80px;
	height: 80px;
	background: red;
	border-radius: 50%;
}

#img img {
	width: 80px;
	height: 80px;
	background: green;
	border-radius: 50%;
}

#type_t,#type_l{
	line-height: 60px;
	text-align: center;
	float: right;
}

#search{
	width: 100%;
	background: #ccc;
	margin: 0;
}

#con{
	border-bottom:1px solid #ccc;
	margin-bottom: 25px;
}

#ul li{
	width: 20%;
    height: 350px;
	margin: 15px 70px;
    border: 1px solid #aaa;
    float: left;
    list-style: none;
    padding-top: 10px;
}
#imgs{
	width: 100%;
	height: auto;
}
#con a{
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	text-decoration: none;
	
}

#con li img{
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10px;
	height: auto;
}
#book_title,#book_author{
	position: absolute;
	bottom: 50px;
	height: 30px;
	font-size: 20px;
	padding-left: 10%;
	line-height: 30px;
	color: #000;
}
.people{
	line-height: 60px;
	font-size: 20px;
	height: 60px;
}

#book_author{
	color: #ccc;
	bottom: 10px;
}

#search_list{
	height: 600px;
	display: none;
}

#list li{
	list-style: none;
	height: 200px;
	border-bottom: 1px solid #ccc;
}
#list li img{
	width: 100px;
	height: 140px;
	margin: 10px;
	float: left;
}
#cover-book-title{
	margin-top:20px; 
	font-size: 26px;
	display:inline-block;
}
#cover-book-title1{
	font-size: 20px;
}
#list li p{
	color: #ccc;
	margin:10px 0 0 10px ;
}
#personal_con{
	height: 90px;
	line-height: 90px;
	font-size: 20px;
}
#personal_con label{
	float: left;
}

#bookshelf{
	height: 80px;
	line-height: 80px;
	margin-bottom:10px;
	display: none;
}
#bookshelf div{
	height: 80px;
	float: left;
	width: 50%;
	text-align: center;
	border: 1px solid #ccc;
	font-size: 24px;
}
#bookshelf div a{
	color: #000;
	text-decoration: none;
}

#my_img{
	width: 100px;
	height: 140px;
	border:1px solid #ccc;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#my_img img{
	width: 100%;
	height: 100%;
	
}
#myimg{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #ccc;
	margin-right: 20px;
}
#nicheng{
float: left;
font-size: 32px;
}